
header {
    display:block;
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    align-items: center;
    margin: 1rem 0 5rem 0;	
	border: 1px solid #ccc;
    padding: 20px;
    background-color: #d4cdab;
}

nav a:hover {
    border: 1px solid #fff;
    text-decoration: underline;
}

nav ul {   
    display: flex;
    justify-content: center;  
    margin: 0 auto;
    
    align-items: center;  
    background-color: black; 
}

nav ul li {
    flex: 1 1 100%;

}

nav ul li a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 1rem;
    font-size: xx-large;
    font-size: 24px;
    color: white;
    margin:0 1rem 0 1rem;
}

h1, h2 {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
    color: #21582a;
    text-align: center;
    font-weight: bolder;
    font-size: 28px;
    
    padding: 2px;
}

main {
    display: grid;
    max-width: 2000px;
    
    grid-template-columns: 3fr 1fr;
    grid-gap: .5rem;    
    padding: 1rem;
    align-items: center;
}
.card {
    border-radius: 10px;
    border-color: black;
    height: auto;
    border-width: 1px; 
    border-style: solid;
    border-radius: 5px;
}

.card img {    
    float: left;
    height: auto;
}

.taiwan img{
    float: right;
}

.card p {
    display: block;
    height: 10rem;
    width: 35%;
    text-align: center;
    position: absolute;
    top: 380px;
    left: 300px;
    font-size: 20px;
}

.card ul {
    height: 15.6rem;
}

footer {
    display: grid;    
    text-align: center;
    margin: 1rem auto;
    background-color: #d4cdab;
    
}