@media (min-width: 500px){

    header {
        background-color: black; /* Change background color to black */
        color: white; /* Change text color to white */
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }
}
    


